@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --table1: #15845f;
  --table2: #234E70;
  --black: #100f24;
  --grey: #242235;
  --white: #f5feff;
  --star-size: 1.5em;
  --star-color: #c3c6c7;
  --star-background: #fc0;
}

.hide {
  display: none;
}

.show {
  display: table-cell;
}


body {
  margin: 2em;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey);
}

.table {
  display: flex;
  justify-content: center;
}

table {
  width: auto;
  background: linear-gradient(45deg, var(--table1), var(--table2));
  border-spacing: 0px;
  color: var(--white);
  table-layout: fixed;
}

th {
  padding: 0.5em;
  background-color: rgba(36, 34, 53, 0.9);
}

td {
  width: auto;
}

.columnHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1em;
}

.headerContainer {
  margin-left: 1em;
  margin-right: 1em;
}

.iconContainer {
  display: flex;
  justify-content: center;
}

.arrows, .eyeball {
  opacity: 0;
}

th:hover .arrows,
th:hover .eyeball {
  color: var(--white);
  margin: auto;
  opacity: 1;
  transition:opacity 1s ease;
}

th:hover .arrows:hover,
th:hover .eyeball:hover {
  color: var(--table2);
  filter: brightness(3);
}

.link:hover {
  filter: brightness(2);
  color: var(--table1);
}

tr {
  font-size: 0.7em;
}

tr:nth-child(even) {
  background-color: rgba(36, 34, 53, 0.5);
}

td {
  padding: 0.5em;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#rating, #page-count, #date, #url {
  text-align: center;
}


.genres-container {
  display: flex;
  flex-direction: row;
  /* width: 15em; */
  flex-wrap: wrap;
  justify-content: center;
}

#genre {
  color: var(--white);
  text-align: center;
  border: 2px solid rgba(0,0,0, 0.25);
  border-radius: 500px;
  padding: 0.25em;
  margin: 0.2em;
  width: max-content;
  font-size: 0.9em;
  background-color: rgba(128, 128, 128, 0.249);
}

a {
  color: var(--white);
}

a:hover {
  font-weight: bold;
}

.hidden-columns-container {
  color: var(--white);
}